{% extends "base.html" %}
{% load bulma_tags %}

{% block header %}
  <header class="hero is-primary is-bold is-fullheight">
    <div class="hero head">{{ block.super }}</div>
    <div class="hero-body">
      <div class="container">
        <div class="h1 title">Créer un compte</div>
        <p class="subtitle">Compte déjà créé ? <a href="{% url "user:login" %}">Connectez-vous ici</a> !</p>
        <div class="box">
          <div class="form-wrapper">
            <form action="{% url "user:signup" %}" method="post">
              {% csrf_token %}
              {{ form | bulma }}
              <button type="submit" class="button is-primary">Valider</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}